@import "~bootstrap/scss/bootstrap";
@import "fontFace";
@import "helpers";

* {
  font-family: goodTime, Consolas, Courier, sans-serif;
  color: #9bface;
  //font-family: 'Roboto Condensed', sans-serif;
}
body {
  background-color: #170522;
  color: #eeeeee;
}