<!--The content below is only a placeholder and can be replaced.-->
<div class="container mt-5">
    <div class="row">
        <div class="col-12 mt-5 mb-5 text-center">
            <h2 class="font-weight-bold">My test projects:</h2>
        </div>
        <div class="col-12 col-md-4 col-xl-3">
            <mat-card [style.backgroundColor]="'#fab3fe'"></mat-card>
        </div>
        <div class="col-12 col-md-4 col-xl-3">
            <mat-card [style.backgroundColor]="'#fab3fe'"></mat-card>
        </div>
        <div class="col-12 col-md-4 col-xl-3">
            <mat-card [style.backgroundColor]="'#fab3fe'"></mat-card>
        </div>
        <div class="col-12 col-md-4 col-xl-3">
            <mat-card [style.backgroundColor]="'#fab3fe'"></mat-card>
        </div>
    </div>
</div>

